
  .fishList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }


  .highlightFish {
    background-color: cyan;
    color: currentColor;
  }
  article.fishList {
    flex-basis: 65%;
  }
  
  section.fishList {
    padding: 0 8px;
    margin: 0 4px;
    margin-bottom: 8px;
  }
  