@import 'nav.css';
@import 'location.css';
@import 'fish.css';

body {
  background-color: grey;
  box-sizing: border-box;
}

.content {
  display: flex;
  flex-wrap: wrap;
}

img {
  max-width: 100%;
}

.highlightFish {
  background-color: darkorange;
  color: lightgoldenrodyellow;
}

aside{
  flex-basis: 30%;
  border: 1px solid cyan;
  padding: 0 5px;
}

